<div id="mainRight">


            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://transapo.cl" data-text="visita" data-via="TranSapo" data-lang="es" data-size="large">Twittear</a>
            <script>                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>

            <a href="https://twitter.com/TranSapo" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a TranSapo</a>
            <script>                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>


                <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                        new TWTR.Widget({
                            version: 2,
                            type: 'profile',
                            rpp: 4,
                            interval: 30000,
                            width: 230,
                            height: 250,
                            theme: {
                                shell: {
                                    background: '#333333',
                                    color: '#ffffff'
                                },
                                tweets: {
                                    background: '#000000',
                                    color: '#ffffff',
                                    links: '#dde33b'
                                }
                            },
                            features: {
                                scrollbar: true,
                                loop: false,
                                live: true,
                                behavior: 'all'
                            }
                        }).render().setUser('TranSapo').start();
                </script>
                               <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
                    <script>
                        new TWTR.Widget({
                            version: 2,
                            type: 'search',
                            search: 'transantiago',
                            interval: 30000,
                            title: 'Qué sucede con el',
                            subject: 'TranSantiago',
                            width: 230,
                            height: 250,
                            theme: {
                                shell: {
                                    background: '#8ec1da',
                                    color: '#ffffff'
                                },
                                tweets: {
                                    background: '#ffffff',
                                    color: '#444444',
                                    links: '#1985b5'
                                }
                            },
                            features: {
                                scrollbar: true,
                                loop: true,
                                live: true,
                                behavior: 'default'
                            }
                        }).render().start();
                    </script>

</div>
<div class="mainBottom">
    <div class="fb-comments" data-href="http://transapo.cl" data-num-posts="2" data-width="470"></div> 
</div>